/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.padding-left-12 {
    padding-left: 12px;
}

.padding-top-12 {
    padding-top: 12px;
}