.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .space-out {
      height: 64px;
  }

  .emergency-section {
    font-size: large;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: lightyellow;
  }